.hidden{display:none}
.left {float: left;}
.right {float: right;}
.clear,.clearer {clear: both;}
.clearer {display: block;font-size: 0;height: 0;line-height: 0;}
/*
        Example specifics
------------------------------------------------------------------- */

/* Containment area */
#containment {
    background-color: #FFA;
    height: 230px;
}
/* Item placeholder (visual helper) */
.placeholder {background-color: #BFB; border: 1px dashed #666; height: 10px; margin-bottom: 5px;}
/* Dialog */
.dialog, #infoDialog{ display:none;}
#message{color:Red;}


.ui-widget .ui-widget, .ui-widget{font-size:14px !important;font-family:Arial,Verdana,Geneva,Helvetica,sans-serif}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{font-size:14px !important;font-family:Arial,Verdana,Geneva,Helvetica,sans-serif}
span.error { background: url("../css/images/unchecked.gif") no-repeat scroll 0 0 transparent; color: Red; cursor: help; display: inline-block; font-style: italic; height: 15px; margin-left: 2px; overflow: hidden; text-indent: 16px; vertical-align: middle; width: 15px;}
#tooltip{position: absolute;z-index: 3000;border: 1px solid #111;background-color: #e1f3ff;padding: 5px;opacity: 0.9;font-weight: bold;color:Red;}

/* General */
body {font-family: 'Segoe UI', Arial, Helvetica, sans-serif, "Helvetica Neue";font-size: 12px; color: #222; line-height: 150%;margin: 0px;background: url("../images/bg.png") repeat;}
hr {border-bottom: 1px dotted #CCC;border-top: none;border-left: none;border-right: none;}
.container {width: 998px; margin: 0px auto; position: relative;}
.hidden{display:none}
.left {float: left;}
.right {float: right;}
.clear,.clearer {clear: both;}
.clearer {display: block;font-size: 0;height: 0;line-height: 0;}
/* End General */

/* Header */
#header {position:relative;color:#fff;}
#header .top {height: 50px;background-color:#047;}
#header .bottom {height:20px; background-color:#ccc;}
.logo {top:0px; left:0px;position:absolute;}
.logo img {}
/* End Header */

/* Toolbar */
#toolbar {background-color: #E7E7E7;}
#toolbar .container {padding: 10px 0px;}
.btnCreate {background-image: url('images/btn_create_story.png'); background-repeat: no-repeat; height: 25px; width: 104px; cursor: pointer; float: right;}
.btnCreate:hover {background-image: url('images/btn_create_story_hover.png');}
.btnCerita {background-image: url('images/btn_create_story.png'); background-repeat: no-repeat; height: 25px; width: 104px; cursor: pointer; float: right;}
.btnCerita:hover {background-image: url('images/btn_create_story_hover.png');}
/* End Toolbar */

/* Main Content */
#main-content{padding-bottom:20px;}

.column-header {padding: 10px 0px; font-size: 22px; font-weight: bold;}
.column-header .column {width: 322px; line-height: 30px;height: 30px; float: left; text-align: center; position: relative;background-color: #fff; width: 320px;border: 1px solid #ccc; border-radius: 4px 4px 4px 4px;}

.scrum .column{width: 320px; float: left;border: 1px solid #ccc;background-color: #fff;}
.to-do{margin-left:0px; margin-right:10px;}
.in-progress{margin-left:5px; margin-right:5px;}
.done{margin-left:10px; margin-right:0px;}
.story{margin-left:10px; margin-right:0px;}

/* Sortable items */
ul.sortable-list{width:302px; list-style: none;padding: 0px 10px;}
ul.sortable-list li{margin-top:10px; margin-bottom: 5px;}

.col-title-status{padding-left:140px;padding-top:10px;font-weight: bold;font-size:20px;}
.sortable-item {cursor: move;display: block;margin-bottom: 5px;padding: 0px 0;width:300px;height:190px;}
.highlight{background-color:#ffffcc !important;}
.card-status{width: 10px; height: 100%;float: left;}
.sID{color:#3C78B5;cursor:pointer;}
.sID:hover{color:#04F;}

.high{background-color: #cc3366;}
.medium{background-color: #ffd600;}
.low{background-color: #66cc33;}

.card-info {width: 300px;height:100%;float: left;border: 1px solid #ccc;}
.card-info .widget-head{ background-color: #f7f7f7; height: 30px; border-bottom: 1px solid #ccc;}
.card-info .widget-head .title{ float:left;font-weight:bold;line-height: 30px; margin-left:10px;font-size: 16px;}
.showmenu { background: url("../css/images/arrow_down.png") no-repeat scroll right center transparent; display: inline-block; height: 13px; margin-right: 10px; margin-top: 10px; vertical-align: middle; float:right; width: 22px; cursor: pointer; position:relative;}
/*.showmenu .divAction{width:50px; background-color:#f7f7f7;color:#fff;border:solid 1px #ccc;left:-39px;position:absolute;padding:10px;}*/
.showmenu .divAction {position:absolute;top:20px;left:-29px;}
.showmenu .divAction a {color:#049; text-decoration:none; font-weight:bold; line-height:150%;display:block;background-color:#f7f7f7; width:50px; padding:3px 5px;}
.showmenu .divAction a:hover {color:#04F;}
.showmenu .divAction a.lnkEdit{border:1px solid #ccc; border-bottom:1px dotted #ccc;}
.showmenu .divAction a.lnkDelete{border:1px solid #ccc; border-top:none;}

.card-info{background-color:#fff;}
.card-info .widget-content table .sComponent,.card-info .widget-content table .sAsignee,
.card-info .widget-content table .sStatus{color:#3C78B5;}
.card-info .widget-content p {text-align:left;}

/* Form */
.form {padding: 0px;margin: 0px 5px;}
.form.info{width:290px;}
.form .title {font-size: 14px; color: #047; font-weight: bold;text-align: center;vertical-align: middle; height: 30px;}
.form .label {font-weight: bold; text-align: right; width: 120px;border-bottom: 1px dotted #ccc;}
.form td.required span {color:red;}
.form .input {width:350px;}
.form input {width:300px;}
.form select {width:150px;}
.form textarea {width:298px;}

/* End Main Content */

/* Footer */
#footer{text-align: center;line-height: 50px;height: 50px;color: #999;}
#footer .container{border-top: 1px dotted #CCC;}
/* End Footer*/

.dia {
  float: left;
  width: 200px;
  height: 100px;
  margin: 5px;
  padding: 5px;
  box-shadow: 5px 5px 5px gray;
  background-color: #E0F2F7;
  border-radius:  5px;
  transform: scale(1);
  transition: All 0.2s ease; 
  z-index: 1;
  overflow-y: auto;
}

.dia:hover {
  transform: scale(1.5);
  position:relative;
  box-shadow: 10px 10px 40px gray;
  z-index:2;
}